/.project
/ace
/ace*
/apps
/data-store
/image-cache
/m
/mdev
/temp
/themes
/tinymce
/tools
/upload
/user-data
/user-preferences
/web-2
/cosmos
*.swp
*.out
/chat
/config
/gitbucket.git

#js
#axl
#css
/img

/WEB-INF
/bin
/tp
/cosmos
#lib
/upload
/frame-copy.html
/nohup.out
/vx.favicon.ico
/test.html
/frame.html
/favicon.png
/favicon.ico
