/.project
/ace
/ace*

#/apps/ADMIN  
#/apps/BMW  
/apps/Demo  
/apps/DSLIF  
/apps/Freeway  
/apps/Freeway.Customer
/apps/ISG
/apps/komsa
/apps/Mobile
/apps/NGMDemo
/apps/NHB-SPI  
/apps/PG
/apps/REPORTER
#/apps/TEST
/apps/vgecb

/data-store
/image-cache
/m
/mdev
/temp
/themes
/tinymce
#/tools
/upload
/user-data
/user-preferences
/web-2

/cosmos/config
/cosmos/docks/
/cosmos/login/
/cosmos/*.jpg
/cosmos/strings

/cosmos/widgets/Astropix
/cosmos/widgets/Babelfish
/cosmos/widgets/Calculator
#/cosmos/widgets/Comics
/cosmos/widgets/DigitalBlue
/cosmos/widgets/FreeDictionary
/cosmos/widgets/FuzzyClock
/cosmos/widgets/Google.Mail
/cosmos/widgets/Google.Search
/cosmos/widgets/GoogleTranslate
/cosmos/widgets/Leo
/cosmos/widgets/NationalGeographic
/cosmos/widgets/PostIt
#/cosmos/widgets/Rss
/cosmos/widgets/SatteliteImages
#/cosmos/widgets/VisibleEarth
/cosmos/widgets/Webcam
/cosmos/widgets/WhatIsMyIpAddress
/cosmos/widgets/Wikipedia

/cosmos/plugins/AeroStation
/cosmos/plugins/AirClock
/cosmos/plugins/CairoClick
/cosmos/plugins/DeepRed
/cosmos/plugins/GaieryClock
/cosmos/plugins/GT3-analogue
/cosmos/plugins/NeonClock
/cosmos/plugins/OSXClock
/cosmos/plugins/Product
/cosmos/plugins/Weather
#/cosmos/plugins/WorldClock

*.swp
*.out
/chat
/config
/gitbucket.git

#js
#axl
#css
/img

/WEB-INF
/bin
/tp
#lib
/upload
/frame-copy.html
/nohup.out
/vx.favicon.ico
/test.html
/frame.html
/favicon.png
/favicon.ico

unused
