.CalculatorButton
{
  width:24px ;
  height:24px ;
  font-weight: bold ;
}
.CalculatorButtonVertical
{
  width:24px ;
  height:54px ;
  font-weight: bold ;
}
.CalculatorButtonHorizontal
{
  width:56px ;
  height:24px ;
  font-weight: bold ;
}
